<!DOCTYPE html>
<html lang="en">
<title>SE4G WebApp</title>
<head>
<meta charset="UTF-8">
  <h1>Statistic Analysis</h1>
</head>
<body>
  <div style="border: 1px solid #000">
      <img src="static/scatter_diam.png"
  style="float:left;margin: 10px" height="330" width="380" vspace="30">
      <p>This plot shows the distribution of <br> the value diameter in a map</p>
  </div>
  <div style="border: 1px solid #000">
      <img src="static/scatter_height.png"
  style="float:left;margin: 10px" height="330" width="380" vspace="30">
      <p>This plot shows the distribution of <br> the value height in a map</p>
  </div>
  <div style="border: 1px solid #000">
      <img src="static/subplot_distribution.png"
  style="float:left;margin: 10px" height="330" width="380" vspace="30">
      <p>This plot shows the <br> subplot distribution</p>
  </div>
</body>
</html>


