html { font-family: Arial, sans-serif; background: Dark Spring Green; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: jet stream; }
h1 { font-family: Arial, Times, Georgia, serif; color: #006400; margin: 1rem 0; }
h2 { 
  margin: 0px; 
  background-image: url('static/foto2.jpg'); 
  background-repeat: no-repeat; 
  color: #FFFFFF;  
  font-size: 180%;  
  font-weight: normal;  
  font-style: italic
  line-height: 260px;
  text-align: justify;
  width: 1100px;
  height: 750px;
  opacity: 0,5;
}
box {
width: 350px;
height: 150px;
padding: 20px;
border: solid 1px;
margin: 5px;
}
a { color: #000000; background: RGB #177245; padding: .7em 1.5em; }

nav { background: #177245; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; #00cc00}
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; color : #00cc00}
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; color : #00cc00; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; color : #00cc00; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid #177245; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 0; color : #00cc00 }
.flash { margin: 0; padding: 1em; background: #a7f2c9; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: Dark Spring Green; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 0; display: flex; flex-direction: column; }
.content label { font-weight: normal; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }
.personal_photo{
	margin-bottom: 0;
	border-radius: 0;
}